<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Game Page</title>
  <link rel="stylesheet" type="text/css" href="./styles/game.css">
  <link href="https://fonts.googleapis.com/css?family=Fjalla+One&display=swap" rel="stylesheet"> <link href="https://fonts.googleapis.com/css?family=Fjalla+One&display=swap" rel="stylesheet">
</head>

<body onunload="logout()" >

  <script>
     function logout() {
// logout request with ajax
// POST

let data = {
  email: "teja",
  last_time_online: new Date()
};

console.log("logout")

fetch("/mmo/logout", {
  headers: {
    "Content-Type": "application/json",
    "Access-Control-Origin": "*"
  },
  method: "POST",
  body: JSON.stringify(data)
})
.then( responseJSON => responseJSON.json())
.then( body => {
  console.log(body)
})
.catch( error => {
  console.error(error)
})
}
  </script>


  <section class="relative">

    <canvas id="canvas" height="900"></canvas>

    <a href="/" type="button" class="canvas-button" onclick="logout()">Quit</a>

    <div id="score-box" class="canvas-box">
      <span id="temp">Score: </span>
      <span id="score-out"></span>
    </div>

    <div class="absolute">
      <ul id="messages"></ul>
    </div>

  </section>

  <form id="messages-form">
    <input id="message-input" placeholder="Group Chat" autocomplete="off" /><button>Send</button>
  </form>

</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.slim.js"></script>
<script type="text/javascript" src="js/socketClient.js"></script>
<script type="text/javascript" src="js/Sprite.js"></script>
<script type="text/javascript" src="js/SpriteAnimation.js"></script>
<script type="text/javascript" src="js/plottingMeasurements.js"></script>
<script type="text/javascript" src="js/constants.js"></script>
<script type="text/javascript" src="js/plotFunctions.js"></script>
<script type="text/javascript" src="js/functions.js"></script>
<script type="text/javascript" src="js/Snake.js"></script>
<script type="text/javascript" src="js/Arena.js"></script>
<script type="text/javascript" src="js/Food.js"></script>
<script type="text/javascript" src="js/client.js"></script>
<script type="text/javascript" src="js/game_ajax.js"></script>

</html>
