<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Anacond.io</title>
  <link rel="stylesheet" href="styles/main.css"/>
  <link href="https://fonts.googleapis.com/css?family=Fjalla+One&display=swap" rel="stylesheet"> <link href="https://fonts.googleapis.com/css?family=Fjalla+One&display=swap" rel="stylesheet">
</head>

<body>

  <div class="account">
    <input id="openlogin" type="button" class="open-button" value="Login" onclick="openForm('loginform')"/>
    <input id="openregistration" type="button" class="open-button" value="Register" onclick="openForm('registrationform')"/>
  </div>

  <div id="loginform" class="formcontainer">

    <form onsubmit="return false">

      <div class="headingcontainer">
        <h1 class="heading">Login</h1>
      </div>

      <div class="formprompt">
        <label for="email">Email</label>
        <input type="text" id="l-email" placeholder="Username" name="Email">
      </div>

      <div class="formprompt">
        <label for="psw">Password</label>
        <input type="text" id="l-psw" placeholder="Password" name="psw" >
      </div>

      <button type="button" class="formbutton" onclick="closeForm('loginform')">Close</button>
      <button type="button" class="formbutton" onclick="login()">Login</button>

    </form>

  </div>

  <div id="registrationform" class="formcontainer">

   <form onsubmit="return false">
     <div class="headingcontainer">
       <h1 class="heading">Register</h1>
     </div>

     <div class="formprompt">
       <label for="email">Email</label>
       <input type="text" id="r-email" class="formtextbox" placeholder="Email" name="email" values={{email}} required>
     </div>

     <div class="formprompt">
       <label for="password">Password</label>
       <input type="text" id="r-psw" placeholder="Password" name="password" values={{password}} required>
     </div>

     <button type="button" class="formbutton" onclick="closeForm('registrationform')">Close</button>
     <button type="button" class="formbutton" onclick="register()">Register</button>

   </form>

 </div>

  <div class="container">

    <div id="logocontainer">
      <h1 id="anacondio">anacond.io</h1>
    </div>

    <form action="game">

      <div id="namecontainer">
        <input id="nickname" type="text" name="nickname" placeholder="Nickname"/>
      </div>

      <input id="play" type="submit" value="PLAY">

    </form>

    <span id="tips"></span>

  </div>

  <script type="text/javascript" src="js/index.js"></script>

</body>

</html>
