
/* Game styles */
* {
      box-sizing: border-box;
    }


      /* messages unordered list element */
      #messages {
      max-width: 10%;
      color: black;

}
#h img{
      margin-left: 650px;
      background-color: yellow;
      height: 50px;
      width: 100px;
      padding-top: 50px;
      padding-left: 50px;
      padding-bottom: 15px;
      border-color:black;
      border: 5px;
}
    

#messages li {
      /* each message list item*/
     
      
}


/* to implement */






/* Chat styles */
body {
	 background-color:black;
}
head {

}
h1{
	  color:yellow;
	  size: 50px;
        padding: 3px;
        padding-right: 5px;
	  text-align: center;
	  border-style: dotted;
        border-radius: 5px;
        width: 100%;

}

form {
      background:yellow;
      padding: 10px;
      position: fixed;
      bottom: 0; 
      width: 98%;
      border-radius: 5px;
      text-decoration-color: yellow;
     
}

form input { 
      border: 5px; 
      padding: 10px; 
      width: 88%; 
      float: left;
      
}

form button {
      width: 10.5%; 
      background: rgb(130, 224, 255); 
      border: none; padding: 10px;
}

button:hover {
  background-color: #e5e9dc;
}

#messages {
      list-style-type: none; 
      margin: 0; padding: 0;
}

#messages li {
      padding: 5px 10px;
}

#messages li:nth-child(odd) {
      background: #eee; 
}