
/* Game styles */
* {
      box-sizing: border-box;
  }


/* messages unordered list element */
  

 div.relative {
              position: relative;
              } 
            
 div.absolute {
              background-color:white;
              position: absolute;
              bottom: 30px;
              left: 0;
              width: 300px;
              opacity: 0.50;
              border: 3px solid #73AD21;
              margin-bottom: 20px;
              }
#m{
        color: black;
  }          

/* Chat styles */
/* body color */

body {
	 background-color:#fffce3;
     }

/* group chart box */

form {
      background:yellow;
      padding: 10px;  
      position: fixed;
      bottom: 0;
      width: 98%;
      border-radius: 5px;
      text-decoration-color: yellow;

     }

/* form inputs */
form input {
             border: 5px;
            padding: 10px;
            width: 88%;
            float: left;
           }

/* button for form */
form button {
            width: 10.5%;
            background: rgb(130, 224, 255);
            border: none; padding: 10px;
            }

button:hover {
              background-color: #e5e9dc;
             }

#messages {
            list-style-type: none;
            margin: 0; padding: 0;
}

#messages li {
             padding: 5px 10px;
             }

#messages li:nth-child(odd) {
                            background: #eee;
                            }
