body{
	background-color: black;
}
h1{
	  color:yellow;
	  size: 50px;
	  padding: 3px;
	  text-align: center;
	  border-style: dotted;
	  border-radius: 5px;
	}

	
	#s1 img{
	 	height: 30px;
	 	width: 150px;
	}
	#s2 img{
	 	height: 30px;
	 	width: 150px;
	}
	#s3 img{
		height: 450px;
		width: 300px;
		padding-top: 50px;
		padding-left: 550px;
		padding-bottom: 15px;
		border-color: yellow;
		border: 5px;
	}
    	
	 nav a{
		margin-top:30px;
		box-sizing: border-box;
		margin-left: 460px;
		background-color:yellow;
		color:black;
		padding:20px 200px;
		text-align: center;
		font-size: 16px;
		cursor: pointer;
		border-radius: 10px;
		width: 100%;
	  }
	  
	  nav a:hover {
		background-color:white;
	  }
	


