html, body {
  position: relative;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Fjalla One, sans-serif;
}

.container {
  display: block;
  justify-content: center;
  max-width: 350px;
  min-width: 240px;
  margin: auto;
  padding: 0;
  position: relative;
  top: 30%;
}

.form {
  background: none;
  background-color: none;
  margin: auto;
  padding: 0;
  width: 100%;
}

.account {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
}

#logocontainer {
  background-color: #b0ffb1;
  border: 4px black solid;
  border-radius: 25px;
  margin: auto;
  padding: 0;
  text-align: center;
}

#namecontainer {
  background-color: white;
  border: 4px black solid;
  border-radius: 25px;
  margin: auto;
  margin-top: 10px;
  padding: 0;
  text-align: center;
}

#anacondio {
  color: black;
  font-size: 40px;
  margin: 0;
  padding: 0;
}

.formcontainer {
  border: 4px black solid;
  padding: 10px;
  display: none;
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: #b0ebff;
  width: 300px;
}

#loginform, #registrationform {
  display: none;
}

#tips {
  font-size: 20px;
  display: block;
  width: 100%;
  text-align: center;
  margin-top: 20%;
}

#headingcontainer {
  background-color: #ddd;
  border: 4px black solid;
  border-radius: 25px;
  margin: auto;
  padding: 0;
  text-align: center;
}

.formprompt {
  display: flex;
  width: 100%;
  margin: auto;
  margin-top: 10px;
  padding: 0;
}

label {
  float: left;
  display: block;
  width: 85px;
  background-color: #eee;
  border: 3px black solid;
  border-radius: 15px;
  font-size: 18px;
  padding: 0;
  text-align: center;
  margin-right: 5px;
}

input[type=text] {
  overflow: hidden;
  background-color: white;
  border: 3px black solid;
  border-radius: 25px;
  font-size: 16px;
  font-family: Fjalla One, sans-serif;
  margin: auto;
  padding: 0;
  text-align: center;
  width: auto;
}

button, input[type=button] {
  overflow: hidden;
  background-color: white;
  border: 3px black solid;
  border-radius: 25px;
  font-size: 16px;
  font-family: Fjalla One, sans-serif;
  margin: auto;
  padding: 0;
  text-align: center;
  width: auto;
}

.formprompt input[type=text] {
  display: block;
  width: 205px;
}

.heading {
  background-color: white;
  color: #000;
  font-family: Fjalla One, sans-serif;
  font-size: 40px;
  border: 4px black solid;
  border-radius: 25px;
  margin: 0;
  padding: 0;
  text-align: center;
}

#nickname {
  background: none;
  background-color: none;
  border: none;
  font-size: 25px;
  margin: auto;
  padding: 0;
  width: 95%;
  height: 100%;
}

#play {
  display: block;
  margin: auto;
  border: 3px black solid;
  border-radius: 15px;
  background-color: #b0ebff;
  font-size: 30px;
  font-family: Fjalla One, sans-serif;
  margin-top: 10px;
  width: 130px;
}

#openlogin, #openregistration {
  display: block;
  border: 3px black solid;
  border-radius: 15px;
  background-color: #b0ebff;
  font-size: 24px;
  font-family: Fjalla One, sans-serif;
  margin-top: 5px;
  margin-right: 5px;
  width: 105px;
}

#openlogin {
  right: 0;
}

#openregistration {
  left: 0;
}

.formbutton {
  display: block;
  float: left;
  width: 150px;
  margin-top: 10px;
}
